@font-face {
    font-family: 'Helvetica-Neue';
    src: url("../fonts/Helvetica-Neue/Helvetica-Neue-Regular");
    /* IE9*/
    src: url("../fonts/Helvetica-Neue/Helvetica-Neue-Regular?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/Helvetica-Neue/Helvetica-Neue-Regular.woff2") format("woff2"),
        /* chrome、firefox */
        url("../fonts/Helvetica-Neue/Helvetica-Neue-Regular.woff") format("woff"),
        /* chrome、firefox */
        url("../fonts/Helvetica-Neue/Helvetica-Neue-Regular.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("../fonts/Helvetica-Neue/Helvetica-Neue-Regular.svg#Helvetica 33 Thin Extended") format("svg");
    /* iOS 4.1- */
}

p {
    list-style-type: none;
    font-family: 'Helvetica-Neue';
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    margin: 5px 0;
    width: max-content;
    color: #dec341;
    display: grid;
    place-content: center;
    background-color: white;
    padding: 10px;
    z-index: 2;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    grid-template-columns: .5fr 1fr;
    height: 100vh;
    background-color: #fff9f1;
    .sorting_letters{
        display: grid;
        place-content: center;
        h3{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0 0 5px 0;
        }
        
        ul {
            list-style-type: none;
            padding: 0;
            display: grid;
            place-content: center;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            border: 1px solid;
            padding: 10px;
        }
    }

    .img {
        height: 90vh;
        width: 72vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin: 0 auto;

        .up {
            position: relative;
            height: 100%;
            width: 100%;
            background-image: url('../img/gossip-girl-meme-up.jpg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            .input_text {
                position: absolute;
                bottom: 10%;
                transform: translate(-50%, -50%);
                left: 50%;
                width: 70%;
                #text {
                    border: none;
                    width: 100%;
                    background: #fff;
                    height: 50px;
                    font-size: 1.5rem;
                    padding: 0 10px;
                }
            }
        }

        .down {
            position: relative;
            height: 100%;
            width: 100%;
            background-image: url('../img/gossip-girl-meme-down.jpg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            .droptrue {
                position: absolute;
                width: 70%;
                height: 70px;
                bottom: 0%;
                transform: translate(-50%, -50%);
                left: 50%;
                display: inline-flex;
                padding: 10px;

                p{
                    font-size: 3rem;
                    margin: 0;
                    &:not(:last-child){
                        margin-right:5px;
                    }
                }
            }
        }
    }
}